<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/admin_service/delete" method="post">

    <p><strong th:text="${user}"></strong></p>

    <label>
        Email of user:<br/>
        <input type="email" name = "user_email">
    </label><br/>

    <label>
        <input type="submit" name="Search">
    </label><br/>


</form>

<div class="log-out">
    <a href="/logout">Log-out</a>
    <a href="/admin/edit_user_page">Find or edit user data</a>
    <a href="/admin/delete_user">Delete user</a>
    <a href="/admin/add_new_admin_page">Register user</a>
    <a href="/admin/show_all">Show all</a>
</div>

</body>
</html>