<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .user_data{
            float: left;
            margin-right: 40px;
        }

        .new_user_data{
            float: left;
            margin-right: 100px;
        }

        .submit-button{
            size: letter;
            font-size: 20px;
            color: black;
            background-color: red;
            border: none;
        }

        .submit-button:hover{
            background-color: indigo;
            color: #1bff9e;
        }


    </style>
</head>
<body>
<div class="user_data">

    <P><strong>User name:</strong></P><p th:text="${user.name}"></p>
    <P><strong>User surname:</strong></P><p th:text="${user.surname}"></p>
    <p><strong>User email:</strong></p><p th:text="${user.email}"></p>
    <p><strong>User date of birth:</strong></p><p th:text="${user.birthDate}"></p>
    <p><strong>User last attendance date:</strong></p><p th:text="${user.lastAttendanceDate}"></p>
    <p><strong>User doctor:</strong></p><p th:text="${user.doctor.id}"></p>
    <p><strong>User sicknesses:</strong></p>
    <table>
        <thead>
        <tr>
            <th>SICKNESS ID</th>
            <th>SICKNESS Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sicknessList, stat : ${user.sicknessList}">
            <td th:text="${sicknessList.getId()}" ></td>
            <td th:text="${sicknessList.getName()}"></td>
        </tr>
        </tbody>
    </table>

    <p><strong>User pills list:</strong></p>

    <table>
        <thead>
        <tr>
            <th>PILL ID</th>
            <th>PILL Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pillList, stat : ${user.pillList}">
            <td th:text="${pillList.id}" ></td>
            <td th:text="${pillList.name}"></td>
        </tr>
        </tbody>
    </table>

</div>

<div class="new_user_data">
    <form action="/admin_service/edit_user_data_submit" method="post">
        <label>
            Name:<br/>
            <input type="text" name="name"/>
        </label><br/><br/>

        <label>
            Surname:<br/>
            <input type="text" name="surname"/>
        </label><br/><br/>



        <label>
            Email<br/>
            <input type="email" name="email"/>
        </label><br/><br/>

        <label>
            Birth Date(##-##-####):<br/>
            <input type="text" name="birth_date"/>
        </label><br/><br/>


        <label>
            Pill Name:<br/>
            <input type="text" name="pill_name"/>
        </label><br/><br/>


        <label>
            Doctor ID:<br/>
            <input type="text" name="doctor_id"/>
        </label><br/><br/>

        <label>
            Sickness Name:<br/>
            <input type="text" name="sickness_name"/>
        </label><br/><br/>



        <label>
            Recovery Period(number of days):<br/>
            <input type="text" name="recovery_period"/>
        </label><br/><br/>



        <label>
            Last Attendance Date(##-##-####):<br/>
            <input type="text" name="last_attendance_date"/>
        </label><br/><br/>


        <label >
            <input type="submit" name="Send" value="Submit changes" class="submit-button">
        </label><br/>

    </form>

</div>

</body>
</html>