<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        .log-in{
            float: right;
        }

        .description{
            alignment: left;
            align-content: center;
        }
    </style>

</head>
<body>

<div class="log-in">
    <a href="/getLoginPage">Log-in</a>
</div>


<div class ="description">
    <p>This project is created with an aim to simplify some part of your and hospital life</p>
</div>
<div class="log-out">
    <a href="/logout">Log-out</a>
    <a href="/admin/edit_user_page">Find or edit user data</a>
    <a href="/admin/delete_user">Delete user</a>
    <a href="/admin/add_new_admin_page">Register user</a>
    <a href="/admin/show_all">Show all</a>
</div>
</body>
</html>