<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Admin</title>
</head>
<body>

<form action="/admin_service/addNewAdmin" method="post">
    <label>
        Name:<br/>
        <input type="text" name="name"/>
    </label><br/><br/>

    <label>
        Surname:<br/>
        <input type="text" name="surname"/>
    </label><br/><br/>


    <label>
        Password:<br/>
        <input type="password" name="password"/>
    </label><br/><br/>


    <label>
        Email<br/>
        <input type="email" name="email"/>
    </label><br/><br/>

    <label>
        Birth Date(##-##-####):<br/>
        <input type="text" name="birth_date"/>
    </label><br/><br/>

    <label>
        Role:<br/>
        <input type="text" name="role"/>
    </label><br/><br/>


    <label>
        Pill Name:<br/>
        <input type="text" name="pill_name"/>
    </label><br/><br/>


    <label>
        Sickness Name:<br/>
        <input type="text" name="sickness_name"/>
    </label><br/><br/>

    <label>
        Doctor ID:<br/>
        <input type="text" name="doctor_id"/>
    </label><br/><br/>

    <label>
        Recovery Period(number of days):<br/>
        <input type="text" name="recovery_period"/>
    </label><br/><br/>



    <label>
        Last Attendance Date(##-##-####):<br/>
        <input type="text" name="last_attendance_date"/>
    </label><br/><br/>


    <label>
        <input type="submit" name="Send">
    </label><br/>

</form>

</body>
</html>